@if(product) {
<div style="background-color: bisque;color:#58300d">
 <!-- Single Page Header start -->
 <div class="container-fluid page-header py-5" >
  <h1 class="text-center text-white display-6">Product Details</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Product Details</li>
  </ol>
</div>
<!-- Single Page Header End -->
<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
  <div class="container py-5">
    <div class="row g-4 mb-5">
      <div class="col-lg-8 col-xl-9">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="border rounded">
              <a href="#">
                <img
                  src="{{ product.image }}"
                  class="img-fluid rounded"
                  alt="Image"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-6" >
            <h4 class="fw-bold mb-3" style="color: #58300d;">{{ product.title }}</h4>
            <p class="mb-3">Category: {{ product.category }}</p>
            <h5 class="fw-bold mb-3" style="color: #ffb524;">{{ product.price }}$</h5>
            <div class="d-flex mb-4 stars">
              <i
                *ngFor="let star of stars"
                [class]="star"
                style="color: #ffb524"
              ></i>
            </div>
            <p class="mb-4">
              {{ product.description }}
            </p>
            <p class="mb-4">
              {{ product["description 2"] }}
            </p>
           
          </div>
          <div class="col-lg-12">
            <nav>
              <div class="nav nav-tabs mb-3">
                <button style="color: #58300d;"
                  class="nav-link active border-white border-bottom-0"
                  type="button"
                  role="tab"
                  id="nav-about-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-about"
                  aria-controls="nav-about"
                  aria-selected="true"
                >
                  Description
                </button>
                <button style="color: #58300d;"
                  class="nav-link border-white border-bottom-0"
                  type="button"
                  role="tab"
                  id="nav-mission-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-mission"
                  aria-controls="nav-mission"
                  aria-selected="false"
                >
                  Reviews
                </button>
              </div>
            </nav>
            <div class="tab-content mb-5">
              <div
                class="tab-pane active"
                id="nav-about"
                role="tabpanel"
                aria-labelledby="nav-about-tab"
              >
                <p>
                  {{ product.description }}
                </p>
                <p>
                  {{ product["description 2"] }}
                </p>
                <div class="px-2">
                  <div class="row g-4">
                    <div class="col-6">
                      <div
                        class="row bg-light align-items-center text-center justify-content-center py-2"
                      >
                        <div class="col-6">
                          <p class="mb-0">Title</p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">{{ product.title }}</p>
                        </div>
                      </div>
                      <div
                        class="row text-center align-items-center justify-content-center py-2"
                      >
                        <div class="col-6">
                          <p class="mb-0">Category</p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">{{ product.category }}</p>
                        </div>
                      </div>
                      <div
                        class="row bg-light text-center align-items-center justify-content-center py-2"
                      >
                        <div class="col-6">
                          <p class="mb-0">Country of Origin</p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">{{ product["Country of Origin"] }}</p>
                        </div>
                      </div>
                      <div
                        class="row text-center align-items-center justify-content-center py-2"
                      >
                        <div class="col-6">
                          <p class="mb-0">Quality</p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">
                            {{ product.quality }}
                          </p>
                        </div>
                      </div>
                      <div
                        class="row bg-light align-items-center text-center justify-content-center py-2"
                      >
                        <div class="col-6">
                          <p class="mb-0">Ingredients</p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">
                            {{ product.ingredients.join(" & ") }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane"
                id="nav-mission"
                role="tabpanel"
                aria-labelledby="nav-mission-tab"
              >
                <div class="row">
                  <div class="d-flex col-xs-12 col-md-6 pe-2">
                    <img
                      src="{{ product.reviews[0].imageUrl }}"
                      class="img-fluid rounded-circle p-3"
                      style="width: 100px; height: 100px"
                      alt="{{ product.reviews[0].author }}"
                    />
                    <div class="">
                      <p class="mb-2" style="font-size: 14px">
                        {{ product.reviews[0].date }}
                      </p>
                      <div class="d-flex justify-content-between">
                        <h5 class="me-2">{{ product.reviews[0].author }}</h5>
                        <div class="d-flex ms-4 mb-4 stars">
                          <i
                            *ngFor="let star of stars"
                            [class]="star"
                            style="color: #ffb524"
                          ></i>
                        </div>
                      </div>
                      <p>
                        {{ product.reviews[0].text }}
                      </p>
                    </div>
                  </div>
                  <div class="d-flex col-xs-12 col-md-6 pe-2">
                    <img
                      src="{{ product.reviews[1].imageUrl }}"
                      class="img-fluid rounded-circle p-3"
                      style="width: 100px; height: 100px"
                      alt="{{ product.reviews[1].author }}"
                    />
                    <div class="">
                      <p class="mb-2" style="font-size: 14px">
                        {{ product.reviews[1].date }}
                      </p>
                      <div class="d-flex justify-content-between">
                        <h5 class="me-2">{{ product.reviews[1].author }}</h5>
                        <div class="d-flex ms-4 mb-4 stars">
                          <i
                            *ngFor="let star of stars"
                            [class]="star"
                            style="color: #ffb524"
                          ></i>
                        </div>
                      </div>
                      <p class="text-dark">
                        {{ product.reviews[1].text }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form action="#">
            <h4 class="mb-5 fw-bold">Leave a Reply</h4>
            <div class="row g-4">
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input
                    type="text"
                    class="form-control border-0 me-4"
                    placeholder="Yur Name *"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input
                    type="email"
                    class="form-control border-0"
                    placeholder="Your Email *"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="border-bottom rounded my-4">
                  <textarea
                    name=""
                    id=""
                    class="form-control border-0"
                    cols="30"
                    rows="8"
                    placeholder="Your Review *"
                    spellcheck="false"
                  ></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex justify-content-between py-3 mb-5">
                  <div class="d-flex align-items-center">
                    <p class="mb-0 me-3">Please rate:</p>
                    <div
                      class="d-flex align-items-center"
                      style="font-size: 12px"
                    >
                      <i class="fa fa-star text-muted"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <a
                    href="#"
                    class="btn border border-secondary text-primary rounded-pill px-xs-0 px-md-4 py-xs-0 py-md-3"
                  >
                    Post Comment</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->

</div>   
    } @else {
    <h1 class="text-center mt-4">Loading...</h1>
    }
    
